<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rtmap.mapper.firstMapper" >
    <resultMap type="com.rtmap.pojo.Brand" id="resultMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="name_alias" column="name_alias"/>
        <result property="pinyin" column="pinyin"/>
        <result property="clazz" column="clazz"/>
        <result property="introduce" column="introduce"/>
    </resultMap>
    <select id="selectAll" resultMap="resultMap"  >
        select * from brand
    </select>

</mapper>